<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" />
    <script defer src="index.js"></script>
    <title>Accordion</title>
</head>
<body>
<button class="accordion">Section 1</button>
<div class="panel">
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident voluptas repellat minima, consectetur qui excepturi dolorum itaque. Pariatur tempora, possimus tempore dolores ipsa, ut dolorem ullam modi quos hic, quisquam provident inventore laudantium et natus vitae. In veniam, cupiditate illum ratione tempore perspiciatis inventore expedita quae cum pariatur officia a commodi nam nesciunt harum eum, iusto provident aspernatur ipsa odit quibusdam labore accusamus animi explicabo? Nobis quae eos sequi accusantium magni nihil suscipit! Et, quibusdam ea quos aperiam vitae, repudiandae tempora, quod illo in minima quas cum incidunt sunt illum hic omnis totam sit autem laborum magni maxime itaque! </p>
</div>

<button class="accordion">Section 2</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<button class="accordion">Section 3</button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</body>
</html>